# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/
env/
.venv/

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.*

# Pytest
.coverage
htmlcov/
.pytest_cache/

# Build artifacts
dist/
build/
*.egg-info/

# Cloudinary cache (if any)
cloudinary_cache/
